/* A port of the BetaVerse color theme currently used in UEFN with VSCode */



/* VerseDark Variables */
[data-md-color-scheme="slate"],
[data-md-color-media="(prefers-color-scheme: dark)"] {
    /* Colors */
    --editor-lineHighlightBackground: #12002C;
    --editor-lineHighlightBorder: #12002C;
    --editor-background: #000000;
    --editor-foreground: #D4D4D4;
    --editor-inactiveSelectionBackground: #3A3D41;
    --editorIndentGuide-background: #404040;
    --editorIndentGuide-activeBackground: #707070;
    --editor-selectionHighlightBackground: #ADD6FF26;
    --list-dropBackground: #383B3D;
    --activityBarBadge-background: #007ACC;
    --sideBarTitle-foreground: #BBBBBB;
    --input-placeholderForeground: #A6A6A6;
    --settings-textInputBackground: #292929;
    --settings-numberInputBackground: #292929;
    --menu-background: #252526;
    --menu-foreground: #CCCCCC;
    --statusBarItem-remoteForeground: #FFF;
    --statusBarItem-remoteBackground: #16825D;

    /* TokenColors */
    --invalid: #f44747;
    --comment: #77B06B;
    --constant-language: #569cd6;
    --constant-numeric: #c2ddb4;
    --constant-regexp: #646695;
    --constant-character-escape: #B89047;
    --string: #C09077;
    --string-tag: #C09077;
    --string-value: #C09077;
    --string-regexp: #d16969;
    --text: #DFC79F;
    --keyword: #569cd6;
    --keyword-control: #569cd6;
    --keyword-operator: #77AFAF;
    --keyword-other-unit: #92a788;
    --entity-name-function: #e5c2ff;
    --variable: #b9d6ff;
    --path: #b9d6ff;
    --entity-name-tag: #6F77A6;
    --keyword-declaration: #8499b7;
    --punctuation-definition: #8499b7;
    --storage: #569CD6;
    --storage-type: #569CD6;
    --storage-modifier: #569CD6;
    --emphasis: "italic";
    --strong: "bold";
    --markup-underline: "underline";
    --markup-bold: #569cd6;
    --markup-heading: #569cd6;
    --markup-italic: "italic";
    --markup-inserted: #b5cea8;
    --markup-deleted: #ce9178;
    --markup-changed: #569cd6;
    --markup-inline-raw: #ce9178;
    --header: #000080;
    --meta-diff-header: #569cd6;
    --meta-preprocessor: #569cd6;
    --meta-preprocessor-string: #ce9178;
    --meta-preprocessor-numeric: #b5cea8;
}

/* VerseLight Variables */
[data-md-color-scheme="default"],
[data-md-color-media="(prefers-color-scheme: light)"] {
    /* Colors */
    --editor-lineHighlightBackground: #12002C;
    --editor-lineHighlightBorder: #12002C;
    --editor-background: #000000;
    --editor-foreground: #D4D4D4;
    --editor-inactiveSelectionBackground: #3A3D41;
    --editorIndentGuide-background: #404040;
    --editorIndentGuide-activeBackground: #707070;
    --editor-selectionHighlightBackground: #ADD6FF26;
    --list-dropBackground: #383B3D;
    --activityBarBadge-background: #007ACC;
    --sideBarTitle-foreground: #BBBBBB;
    --input-placeholderForeground: #A6A6A6;
    --settings-textInputBackground: #292929;
    --settings-numberInputBackground: #292929;
    --menu-background: #252526;
    --menu-foreground: #CCCCCC;
    --statusBarItem-remoteForeground: #FFF;
    --statusBarItem-remoteBackground: #16825D;

    /* TokenColors */
    --invalid: #f44747;
    --comment: hsla(0, 0%, 0%, 0.5);
    --constant-language: #569cd6;
    --constant-numeric: hsl(100, 38%, 35%);
    --constant-regexp: #646695;
    --constant-character-escape: #B89047;
    --string: #C09077;
    --string-tag: #C09077;
    --string-value: hsl(21, 37%, 35%);
    --string-regexp: #d16969;
    --text: #DFC79F;
    --keyword: #569cd6;
    --keyword-control: #569cd6;
    --keyword-operator: #77AFAF;
    --keyword-other-unit: #92a788;
    --entity-name-function: hsl(274, 100%, 35%);
    --variable: hsl(215, 100%, 35%);
    --path: hsl(215, 100%, 35%);
    --entity-name-tag: #6F77A6;
    --keyword-declaration: hsl(215, 26%, 35%);
    --punctuation-definition: #8499b7;
    --storage: #569CD6;
    --storage-type: #569CD6;
    --storage-modifier: #569CD6;
    --emphasis: "italic";
    --strong: "bold";
    --markup-underline: "underline";
    --markup-bold: #569cd6;
    --markup-heading: #569cd6;
    --markup-italic: "italic";
    --markup-inserted: #b5cea8;
    --markup-deleted: #ce9178;
    --markup-changed: #569cd6;
    --markup-inline-raw: #ce9178;
    --header: #000080;
    --meta-diff-header: #569cd6;
    --meta-preprocessor: #569cd6;
    --meta-preprocessor-string: #ce9178;
    --meta-preprocessor-numeric: #b5cea8;
}

/* Theme Overrides */
[data-md-color-media]>* {
    /* --- Code Highlighting */
    --md-code-hl-color: #2977ff;
    --md-code-hl-color--light: #2977ff1a;
    --md-code-hl-number-color: var(--constant-numeric);
    --md-code-hl-special-color: #f06090;
    --md-code-hl-function-color: var(--entity-name-function);
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-keyword-color: var(--variable);
    --md-code-hl-string-color: var(--string-value);
    --md-code-hl-name-color: var(--variable);
    --md-code-hl-operator-color: var(--punctuation-definition);
    --md-code-hl-punctuation-color: var(--constant-language);
    --md-code-hl-comment-color: var(--comment);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);

    /* Style Overrides */
    & .highlight {

        /* --- Specifiers & Name.Decorator */
        & .nd {
            color: var(--keyword-declaration);
        }

        /* --- Name.Function.Call */
        & .nf-Call {
            color: var(--variable);
        }

        /* --- Name.Function.Call */
        & .n-Identifier,
        & .nc {
            color: var(--entity-name-function);
        }

        /* --- Name.Namespace */
        & .nn {
            color: var(--constant-language);
        }

        /* --- Keyword.Declaration */
        & .kd {
            color: var(--keyword-declaration);
        }

        /* --- Name.Variable */
        & .nv {
            color: var(--entity-name-function);
        }
    }
}