name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches:
      - main          # Trigger on push to main branch
  workflow_dispatch:  # Allow Manual Trigger


concurrency:
  group: "pages"
  cancel-in-progress: true # Only deploy most recent version

jobs:
  build:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
    with:
      upload: true

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

